.button_top {
    position: absolute;
    top: 15px;
    right: 100px;
    width: 40px;
    height: 40px;
    z-index: 2;
}

.button_top.pause {
    border-color: #FFF;
    background: transparent;
    border-style: double;
    border-width: 0 0 0 37px;
}

.button_top.play {
    border-style: solid;
    background: transparent;
    box-sizing: border-box;
    border-width: 21px 0 21px 31px;
    border-color: transparent transparent transparent #FFF;
}

.refresh-button {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 4;
}