.ghost {
    position: absolute;
    transition: all 1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ghost-red {
    fill: #E31F23;
}

.ghost-yellow {
    fill: #F8B236;
}

.ghost-blue {
    fill: #80CADE;
}

.ghost-pink {
    fill: #E5A1C6;
}

.ghost-white {
    fill: #FFF;
}

.ghost-green {
    fill: #28B463;
}

.ghost-purple {
    fill: #800080;
}

.ghost-lime {
    fill: #00FF00;
}

.ghost-cyan {
    fill: #00CED1;
}