.ghost {
    position: absolute;
    transition: all 2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ghost-red {
    fill: #E31F23;
}

.ghost-yellow {
    fill: #F8B236;
}

.ghost-blue {
    fill: #80CADE;
}

.ghost-pink {
    fill: #E5A1C6;
}