.pacman {
  position: absolute;
  transition: all 0.1s ease-out;
}

.pacman:focus {
  outline: none;
}

.pacman-right {
  transform: rotateY(0deg);
}

.pacman-left {
  transform: rotateY(180deg);
}

.pacman-up {
  transform: rotate(-90deg);
}

.pacman-down {
  transform: rotate(90deg);
}
