.pause-page {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.80);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
}

.play-button {
    width: 25vw;
    height: 50vh;
    border: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 999;
}

.play-svg {
    fill: #999;
}

.play-button:focus {
    outline: none;
}

.author {
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: var(--white-color);
}

.instruction {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: var(--white-color);
    width: 200px;
    z-index: 900;
}
.headline {
    text-align: center;
}
.keys-or {
    text-align: center;
}
.keys {
    width: 100%;
}
.keys i {
    background-color: var(--white-color);
    color: var(--black-color);
    width: 20%;
    padding: 5px;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}