.score {
    flex: 0 1 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 20px;
}

.result {
    color: #FFF;
    display: inline;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .score {
        justify-content: flex-start;
    }
    .result {
        margin-left: 20px;
    }
}