@import "assets/css/Board.css";
@import "assets/css/Score.css";
@import "assets/css/Pacman.css";
@import "assets/css/Ghost.css";
@import "assets/css/Food.css";

.app {
    display: flex;
    flex-direction: column;
    height:100%;
}