@import "assets/css/ResizedPage.css";
@import "assets/css/Board.css";
@import "assets/css/Score.css";
@import "assets/css/Pacman.css";
@import "assets/css/Ghost.css";
@import "assets/css/Food.css";

:root {
    --white-color: #FFF;
    --black-color: #000;
}

.app {
    display: flex;
    flex-direction: column;
    height:100%;
}

.refresh-button {
    position: absolute;
    top: 10px;
    right: 10px;
}